{% extends "layouts/application.html.j2" %}

{% block name %} Home {% endblock %}

{% block content %}
<h1 class="mt-5 text-center">Ranking</h1>

<div class="row my-2">
    <div class="card text-center col-md-4 col-sm offset-md-4">
        <ol>
            {% for player in players %}
                <li class="d-flex justify-content-between align-items-center">
                    <div>
                        {{ loop.index }}.
                        <a href="{{ url_for('matches_player', player_id=player.id) }}">
                            {{ player.username }}
                        </a>
                    </div>
                    <span>{{ player.rating|int }}</span>
                </li>
            {% endfor %}
        </ol>
    </div>
</div>
{% endblock %}
